In [4]:
import pandas as pd
df = pd.read_table("http://bit.ly/chiporders")
df.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### adding column name and seperating each column

In [11]:
col_names = ['Id','Age','Gender','Occupation','Revenue']
df = pd.read_table("http://bit.ly/movieusers",sep="|",header=None,names=col_names)
df

      Id  Age Gender     Occupation Revenue
0      1   24      M     technician   85711
1      2   53      F          other   94043
2      3   23      M         writer   32067
3      4   24      M     technician   43537
4      5   33      F          other   15213
..   ...  ...    ...            ...     ...
938  939   26      F        student   33319
939  940   32      M  administrator   02215
940  941   20      M        student   97229
941  942   48      F      librarian   78209
942  943   22      M        student   77841

[943 rows x 5 columns]

In [16]:
df.Occupation
df['new_col']=df.Gender + df.Occupation
df.head()

   Id  Age Gender  Occupation Revenue      new_col
0   1   24      M  technician   85711  Mtechnician
1   2   53      F       other   94043       Fother
2   3   23      M      writer   32067      Mwriter
3   4   24      M  technician   43537  Mtechnician
4   5   33      F       other   15213       Fother

### IMDB rating

In [28]:
df = pd.read_table("http://bit.ly/imdbratings",sep=',')
#df = df.rename(columns= {'star_rating':'StarRating'}) its a tidyious method
#new_col = ['StarRating','Title','Content_Rating','Genre','Duration','ActorsList']
#df.columns=new_col
df.columns = df.columns.str.replace('_','')
df.head()

,starrating,title,contentrating,genre,duration,actorslist
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [36]:
df.drop(['starrating'],axis=1)
df['duration'].sort_values(ascending=False)
df.sort_values('duration',ascending=False)
df.sort_values(['genre','duration'])

,starrating,title,contentrating,genre,duration,actorslist
533,7.8,Run Lola Run,R,Action,80,"[u'Franka Potente', u'Moritz Bleibtreu', u'Her..."
633,7.7,The Warriors,R,Action,92,"[u'Michael Beck', u'James Remar', u'Dorsey Wri..."
455,7.9,Taken,PG-13,Action,93,"[u'Liam Neeson', u'Maggie Grace', u'Famke Jans..."
685,7.7,First Blood,R,Action,93,"[u'Sylvester Stallone', u'Brian Dennehy', u'Ri..."
744,7.6,Mad Max 2: The Road Warrior,R,Action,94,"[u'Mel Gibson', u'Bruce Spence', u'Michael Pre..."
...,...,...,...,...,...,...
421,7.9,The Outlaw Josey Wales,PG,Western,135,"[u'Clint Eastwood', u'Sondra Locke', u'Chief D..."
263,8.1,Rio Bravo,NOT RATED,Western,141,"[u'John Wayne', u'Dean Martin', u'Ricky Nelson']"
6,8.9,"The Good, the Bad and the Ugly",NOT RATED,Western,161,"[u'Clint Eastwood', u'Eli Wallach', u'Lee Van ..."
59,8.5,Django Unchained,R,Western,165,"[u'Jamie Foxx', u'Christoph Waltz', u'Leonardo..."
26,8.6,Once Upon a Time in the West,PG-13,Western,175,"[u'Henry Fonda', u'Charles Bronson', u'Claudia..."

#### extracting data of duration greater than 175

In [38]:
boolean = []
for i in df.duration:
    if i>175:
        boolean.append(True)
    else:
        boolean.append(False)
df[boolean]

,starrating,title,contentrating,genre,duration,actorslist
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
7,8.9,The Lord of the Rings: The Return of the King,PG-13,Adventure,201,"[u'Elijah Wood', u'Viggo Mortensen', u'Ian McK..."
8,8.9,Schindler's List,R,Biography,195,"[u'Liam Neeson', u'Ralph Fiennes', u'Ben Kings..."
10,8.8,The Lord of the Rings: The Fellowship of the Ring,PG-13,Adventure,178,"[u'Elijah Wood', u'Ian McKellen', u'Orlando Bl..."
14,8.8,The Lord of the Rings: The Two Towers,PG-13,Adventure,179,"[u'Elijah Wood', u'Ian McKellen', u'Viggo Mort..."
17,8.7,Seven Samurai,UNRATED,Drama,207,"[u'Toshir\xf4 Mifune', u'Takashi Shimura', u'K..."
40,8.5,The Green Mile,R,Crime,189,"[u'Tom Hanks', u'Michael Clarke Duncan', u'Dav..."
78,8.4,Once Upon a Time in America,R,Crime,229,"[u'Robert De Niro', u'James Woods', u'Elizabet..."
82,8.4,Braveheart,R,Action,177,"[u'Mel Gibson', u'Sophie Marceau', u'Patrick M..."
85,8.4,Lawrence of Arabia,PG,Adventure,216,"[u""Peter O'Toole"", u'Alec Guinness', u'Anthony..."
89,8.4,Swades,NOT RATED,Drama,189,"[u'Shah Rukh Khan', u'Gayatri Joshi', u'Kishor..."
93,8.4,Dilwale Dulhania Le Jayenge,NOT RATED,Comedy,181,"[u'Shah Rukh Khan', u'Kajol', u'Amrish Puri']"
109,8.3,Dil Chahta Hai,NOT RATED,Comedy,183,"[u'Aamir Khan', u'Saif Ali Khan', u'Akshaye Kh..."
132,8.3,Judgment at Nuremberg,NOT RATED,Drama,186,"[u'Spencer Tracy', u'Burt Lancaster', u'Richar..."
142,8.3,Lagaan: Once Upon a Time in India,PG,Adventure,224,"[u'Aamir Khan', u'Gracy Singh', u'Rachel Shell..."
143,8.2,The Wolf of Wall Street,R,Biography,180,"[u'Leonardo DiCaprio', u'Jonah Hill', u'Margot..."
156,8.2,Casino,R,Biography,178,"[u'Robert De Niro', u'Sharon Stone', u'Joe Pes..."
157,8.2,Gone with the Wind,G,Drama,238,"[u'Clark Gable', u'Vivien Leigh', u'Thomas Mit..."
166,8.2,The Deer Hunter,R,Drama,182,"[u'Robert De Niro', u'Christopher Walken', u'J..."
184,8.2,Fanny and Alexander,R,Drama,188,"[u'Bertil Guve', u'Pernilla Allwin', u'Kristin..."
204,8.1,Ben-Hur,G,Adventure,212,"[u'Charlton Heston', u'Jack Hawkins', u'Stephe..."
220,8.1,Gandhi,PG,Biography,191,"[u'Ben Kingsley', u'John Gielgud', u'Candice B..."
245,8.1,Barry Lyndon,PG,Adventure,184,"[u""Ryan O'Neal"", u'Marisa Berenson', u'Patrick..."
300,8.0,Dogville,R,Crime,178,"[u'Nicole Kidman', u'Paul Bettany', u'Lauren B..."
316,8.0,JFK,R,Drama,189,"[u'Kevin Costner', u'Gary Oldman', u'Jack Lemm..."
318,8.0,Magnolia,R,Drama,188,"[u'Tom Cruise', u'Jason Robards', u'Julianne M..."
335,8.0,Doctor Zhivago,PG-13,Drama,197,"[u'Omar Sharif', u'Julie Christie', u'Geraldin..."
339,8.0,Dances with Wolves,PG-13,Adventure,181,"[u'Kevin Costner', u'Mary McDonnell', u'Graham..."
361,8.0,Fiddler on the Roof,G,Drama,181,"[u'Topol', u'Norma Crane', u'Leonard Frey']"
385,8.0,Spartacus,PG-13,Action,197,"[u'Kirk Douglas', u'Laurence Olivier', u'Jean ..."
424,7.9,The Right Stuff,R,Adventure,193,"[u'Sam Shepard', u'Scott Glenn', u'Ed Harris']"
445,7.9,The Ten Commandments,APPROVED,Adventure,220,"[u'Charlton Heston', u'Yul Brynner', u'Anne Ba..."
456,7.9,Blue Is the Warmest Color,NC-17,Drama,179,"[u'L\xe9a Seydoux', u'Ad\xe8le Exarchopoulos',..."
476,7.8,Hamlet,PG-13,Drama,242,"[u'Kenneth Branagh', u'Julie Christie', u'Dere..."
534,7.8,The Longest Day,G,Action,178,"[u'John Wayne', u'Robert Ryan', u'Richard Burt..."
611,7.7,Short Cuts,R,Comedy,187,"[u'Andie MacDowell', u'Julianne Moore', u'Tim ..."
620,7.7,Titanic,PG-13,Drama,194,"[u'Leonardo DiCaprio', u'Kate Winslet', u'Bill..."
630,7.7,Malcolm X,PG-13,Biography,202,"[u'Denzel Washington', u'Angela Bassett', u'De..."
671,7.7,Grindhouse,R,Action,191,"[u'Kurt Russell', u'Rose McGowan', u'Danny Tre..."
767,7.6,"It's a Mad, Mad, Mad, Mad World",APPROVED,Action,205,"[u'Spencer Tracy', u'Milton Berle', u'Ethel Me..."

In [41]:
#easy way to filter
df[df.duration>175].genre

2          Crime
7      Adventure
8      Biography
10     Adventure
14     Adventure
17         Drama
40         Crime
78         Crime
82        Action
85     Adventure
89         Drama
93        Comedy
109       Comedy
132        Drama
142    Adventure
143    Biography
156    Biography
157        Drama
166        Drama
184        Drama
204    Adventure
220    Biography
245    Adventure
300        Crime
316        Drama
318        Drama
335        Drama
339    Adventure
361        Drama
385       Action
424    Adventure
445    Adventure
456        Drama
476        Drama
534       Action
611       Comedy
620        Drama
630    Biography
671       Action
767       Action
Name: genre, dtype: object

In [44]:
df[(df.contentrating=='R') & (df.genre=='Crime')]

,starrating,title,contentrating,genre,duration,actorslist
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
21,8.7,City of God,R,Crime,130,"[u'Alexandre Rodrigues', u'Matheus Nachtergael..."
...,...,...,...,...,...,...
927,7.5,Brick,R,Crime,110,"[u'Joseph Gordon-Levitt', u'Lukas Haas', u'Emi..."
931,7.4,Mean Streets,R,Crime,112,"[u'Robert De Niro', u'Harvey Keitel', u'David ..."
950,7.4,Bound,R,Crime,108,"[u'Jennifer Tilly', u'Gina Gershon', u'Joe Pan..."
969,7.4,Law Abiding Citizen,R,Crime,109,"[u'Gerard Butler', u'Jamie Foxx', u'Leslie Bibb']"
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

In [ ]:
df.genre.isin(['Crime'])